MONGODB_URI=mongodb://localhost:27017/leaf
LAVA_SECRET_KEY=lava key
GITHUB_ID=your_github_oauth_app_id
GITHUB_SECRET=your_github_oauth_app_secret
NEXTAUTH_SECRET=secret_key_string
NEXTAUTH_URL=http://localhost:3000
